<!--Created by yl on 2016/3/23.-->
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>测试angularJs</title>
   <link rel="stylesheet" href="../css/bootstrap.min.css">
   <script src="../jslib/angular1.5/angular.js"></script>
   <script src="../ngjs/test2.js"></script>
</head>
<body>
   <div ng-app="myApp" ng-controller="formCtrl">
      <form name="myForm" role="form" novalidate>
         <div class="form-group">
            <label for="firstName">姓名</label>
            <input id="firstName"  class="form-control" type="text" ng-model="user.firstName" placeholder="请输入用户名" />
         </div>
         <div class="form-group">
            <label for="add">地址</label>
            <input id="add"  class="form-control" type="text" ng-model="user.add" placeholder="请输入地址" />
         </div>
         <button type="submit" class="btn btn-default" ng-click="reset()" >重置</button>
      </form>
      <p>form={{user}}</p>
   </div>


</body>
</html>